{% extends "panel/base.html" %}
{% block title %}
    Edit film
{% endblock %}
{% block head %}
    {% load cloudinary %}
    <style>
        @media (max-width: 576px) {
            .input-group-prepend {
                display: none;
            }

            .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
        }

        .main-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .preview-image {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 7px;
        }

        .preview-main-image {
            aspect-ratio: 3/4;
            max-width: 100%;
        }

        .preview-film-image {
            width: 20rem;
            height: 4rem;
        }


        .film-form-buttons {
            display: flex;
        }

        .film-form-buttons button:last-child {
            margin-left: 0.5rem;
        }

        .film-form-buttons button:first-child {
            margin-left: auto;
        }

        @media (max-width: 576px) {
            .film-form-buttons button:first-child {
                margin-left: 0;
            }
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="card">
        <div class="card-header p-2">
            Film
        </div>
        <div class="card-body p-2">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item ml-auto">
                    <a class="nav-link active" id="tab-en">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-uk">Українська</a>
                </li>
            </ul>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--General Information-->
                {{ form.id }}
                <h5 class="ml-2">General information</h5>
                <div class="input-group mb-2 en">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-name-en-span">Film name in English</span>
                    </div>
                    {{ form.name_en }}
                </div>
                <div class="input-group mb-2 en">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-description-en-span">Film description in English</span>
                    </div>
                    {{ form.description_en }}
                </div>
                <div class="input-group mb-2 uk">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-name-uk-span">Film name in Ukrainian</span>
                    </div>
                    {{ form.name_uk }}
                </div>
                <div class="input-group mb-2 uk">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="film-description-uk-span">Film description in Ukrainian</span>
                    </div>
                    {{ form.description_uk }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-trailer-span">Trailer URL</span>
                    </div>
                    {{ form.trailer_url }}
                </div>
                <!--Main Image-->
                <h5 class="ml-2 mt-3">Main image</h5>
                <div class="main-image-container">
                    <div class="card border">
                        <div class="card-body p-2">
                            <div class="preview-image preview-main-image">
                                {% cloudinary form.image.value class="preview-image" %}
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="{{ form.image.auto_id }}">
                                        Choose file
                                    </label>
                                    {{ form.image }}
                                </div>
                                <button class="btn btn-info ml-2" id="reset-image-button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Image Gallery-->
                <h5 class="ml-2 mt-2">Image gallery</h5>
                <p class="ml-2 mb-0">Size: 1000 × 190</p>
                <div class="scrolling-wrapper">
                    <div class="mt-3">
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="card border inside-horizontal-scrolling-wrapper">
                                <div class="card-body p-2">
                                    {% if form.image.value is None %}
                                        <div class="preview-image preview-film-image skeleton"></div>
                                    {% else %}
                                        <div class="preview-image preview-film-image">
                                            {% cloudinary form.image.value class="preview-image" %}
                                        </div>
                                    {% endif %}
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <label class="custom-file-label">Choose file</label>
                                            {{ form.image }}
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none">
                                    {{ form.DELETE }}
                                </div>
                                <button type="button"
                                        class="btn btn-sm btn-primary btn-danger btn-circle btn-corner delete-film-image-button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="film-form-buttons">
                    <button type="button"
                            class="btn btn-primary btn-info add-film-image-button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add form
                    </button>
                </div>
                <!--Cinema Type-->
                <div class="d-flex flex-row mb-2 mt-3">
                    <div class="ml-2 mr-4 pt-1"><h5 class="mb-1">Cinema type</h5></div>
                    <div class="form-check form-check-inline">
                        {{ form.is_3d }}
                        <label class="form-check-label" for={{ form.is_3d.auto_id }}>3D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form.is_2d }}
                        <label class="form-check-label" for={{ form.is_2d.auto_id }}>2D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form.is_imax }}
                        <label class="form-check-label" for={{ form.is_imax.auto_id }}>IMAX</label>
                    </div>
                </div>
                <!--SEO Block-->
                <h5 class="ml-2 mb-1">SEO Block</h5>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-seo-url-span">URL</span>
                    </div>
                    {{ form.seo_url }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-seo-title-span">Title</span>
                    </div>
                    {{ form.seo_title }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-seo-keywords-span">Keywords</span>
                    </div>
                    {{ form.seo_keywords }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="film-seo-description-span">Description</span>
                    </div>
                    {{ form.seo_description }}
                </div>
                <div class="film-form-buttons">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-info" id="reset-form-button">
                        <i class="fa fa fa-minus" aria-hidden="true"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        const $wrappers = $('.scrolling-wrapper');
        const $emptyFilmImageForm = $wrappers.eq(0).find('.mt-3 .card:last-child').clone(true);

        $wrappers.each(function () {
            let isDown = false;
            let startX;
            let startY;
            let scrollLeft;
            let scrollTop;

            $(this).on('mousedown', function (e) {
                isDown = true;
                startX = e.pageX;
                startY = e.pageY;
                scrollLeft = $(this).scrollLeft();
                scrollTop = $(this).scrollTop();
                $(this).css('cursor', 'grabbing');
            });

            $(this).on('mouseleave mouseup', function () {
                isDown = false;
                $(this).css('cursor', 'grab');
            })

            const $wrapper = this;

            $(document).on('mousemove', function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $wrapper.offsetLeft;
                const y = e.pageY - $wrapper.offsetTop;
                const walkX = x - startX;
                const walkY = y - startY;
                $wrapper.scrollLeft = scrollLeft - walkX;
                $wrapper.scrollTop = scrollTop - walkY;
            });
        })

        $('.uk').hide();

        $('.nav-link').click(function () {
            const clickedTabId = $(this).attr('id');

            $('.nav-link').removeClass('active');
            $(this).addClass('active');

            if (clickedTabId === 'tab-en') {
                $('.uk').hide();
                $('.en').show();
            } else {
                $('.uk').show();
                $('.en').hide();
            }
        });

        $('input, textarea').each(function () {
            $(this).attr('data-initial', $(this).val());
        });

        $("#reset-form-button").click(function (e) {
            e.preventDefault();

            $('input, textarea').each(function () {
                const initial = $(this).attr('data-initial');
                $(this).val(initial);
            });
        })

        $(document).on('change', 'input:file', function (e) {
            $(this).prev().html($(this).val().split('\\').pop());

            const image = e.target.files[0];
            const src = URL.createObjectURL(image);

            const $cardBody = $(this).closest('.card-body');

            const $preview = $cardBody.find('.preview-image');

            $preview.children().remove();

            $preview.removeClass('skeleton');

            const classes = $preview.attr("class");

            console.log({classes});

            const $image = $(`<img src=${src} alt="image">`);

            $image.attr("class", "preview-image");

            $preview.append($image);
        });

        $("#reset-image-button").click(function (e) {
            e.preventDefault();

            const $cardBody = $(this).closest('.card-body');
            const $preview = $cardBody.find('.preview-image');
            const $fileInput = $cardBody.find('input:file');

            $fileInput.val(null);
            $fileInput.siblings('.custom-file-label').text("Choose file");

            $preview.children().remove();
            $preview.addClass('skeleton');
        })

        $(document).on('click', '.delete-film-image-button', function () {
            const $card = $(this).closest('.card');
            $card.find('input[type="checkbox"]').prop('checked', true);
            $card.hide();
        })

        $('.add-film-image-button').click(function () {
            const $totalForms = $('#id_filmimage_set-TOTAL_FORMS');
            const count = parseInt($totalForms.val());

            const $filmImageFormMarkup = $emptyFilmImageForm.prop('outerHTML');
            const regex = /filmimage_set-(\d+)-/g;
            const $compiledFilmImageForm = $filmImageFormMarkup.replace(regex, `filmimage_set-${count}-`);

            $wrappers.eq(0).find('.mt-3').append($compiledFilmImageForm);

            $totalForms.attr('value', count + 1);

            $wrappers.eq(0).animate({
                scrollLeft: $wrappers.eq(0).prop('scrollWidth')
            }, 500);
        });
    </script>
{% endblock script %}
