{% extends "panel/base.html" %}
{% block title %}
    Films
{% endblock %}
{% block head %}
    <style>
        .grid-container {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }

        .grid-container .card {
            margin-bottom: 0;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            height: 100%;
        }

        .btn-group {
            display: flex;
        }

        .btn {
            flex: 1;
        }

        .list-group-item {
            padding: 0.5rem 0;
        }

        .list-group-item:first-child {
            padding: 0;
        }

        .film-card {
            width: 100%;
            align-self: center;
        }

        .add-film-button-container {
            text-align: right;
        }

        @media (max-width: 576px) {
            .add-film-button-container {
                text-align: left;
            }
        }

    </style>
{% endblock head %}
{% block content %}
    <!--Now in cinemas-->
    <div class="card">
        <div class="card-header p-2">
            Now in cinemas
        </div>
        <div class="card-body grid-container p-2">
            {% for i in '0123456789'|make_list %}
                <div class="card film-card">
                    <div class="image-container">
                        <img class="card-img-top"
                             src="https://static.wikia.nocookie.net/spiderman-films/images/f/fe/Spider-Man_%28Andrew_Garfield%29_Profile_Pic.png/revision/latest?cb=20211223001405"
                             alt="Card image cap">
                    </div>
                    <div class="card-body mt-0 text-center p-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="mb-0">Spider-Man</p></li>
                            <li class="list-group-item">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary w-100">
                                        <i class="fa fa-pen" aria-hidden="true"></i>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger w-100">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Upcoming films-->
    <div class="card">
        <div class="card-header p-2">
            Upcoming films
        </div>
        <div class="card-body d-flex flex-wrap p-2 justify-content-center">
        </div>
    </div>
    <div class="add-film-button-container">
        <a href="{% url 'films:create' %}" class="btn btn-primary btn-success">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add film
        </a>
    </div>
{% endblock %}
