{% extends "panel/base.html" %}
{% block title %}
    Films
{% endblock %}
{% block head %}
    {% load cloudinary %}
    <style>
        .grid-container {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }

        .grid-container .card {
            margin-bottom: 0;
            aspect-ratio: 3/4;
        }

        .image-container {
            position: relative; /* This is the key change */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            height: 100%;
        }

        .image-container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .btn-group {
            display: flex;
        }

        .btn {
            flex: 1;
        }

        .list-group-item {
            padding: 0.5rem 0;
        }

        .list-group-item:first-child {
            padding: 0;
        }

        .film-card {
            width: 100%;
            align-self: center;
        }

        .add-film-button-container {
            text-align: right;
        }

        @media (max-width: 576px) {
            .add-film-button-container {
                text-align: left;
            }
        }

    </style>
{% endblock head %}
{% block content %}
    <!--Now in cinemas-->
    <div class="card">
        <div class="card-header p-2">
            Now in cinemas
        </div>
        <div class="card-body grid-container p-2">
            {% for film in current_films %}
                <div class="card film-card">
                    <div class="image-container">
                        {% cloudinary film.image class="card-img-top image" %}
                    </div>
                    <div class="card-body mt-0 text-center p-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="mb-0">{{ film.name_en }}</p></li>
                            <li class="list-group-item">
                                <div class="btn-group">
                                    <a type="button"
                                            class="btn btn-primary w-100"
                                            href="{% url 'films:edit' film_id=film.id %}">
                                        <i class="fa fa-pen" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                    <a type="button"
                                       href="{% url 'films:delete' film_id=film.id %}"
                                       class="btn btn-danger w-100 delete-film-button"
                                       data-toggle="modal"
                                       data-target="#confirmationModal">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Upcoming films-->
    <div class="card">
        <div class="card-header p-2">
            Upcoming films
        </div>
        <div class="card-body grid-container p-2">
            {% for film in upcoming_films %}
                <div class="card film-card">
                    <div class="image-container">
                        {% cloudinary film.image class="card-img-top" %}
                    </div>
                    <div class="card-body mt-0 text-center p-2">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><p class="mb-0">{{ film.name_en }}</p></li>
                            <li class="list-group-item">
                                <div class="btn-group">
                                    <a type="button"
                                       class="btn btn-primary w-100"
                                       href="{% url 'films:edit' film_id=film.id %}">
                                        <i class="fa fa-pen" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                    <a type="button"
                                       href="{% url 'films:delete' film_id=film.id %}"
                                       class="btn btn-danger w-100 delete-film-button"
                                       data-toggle="modal"
                                       data-target="#confirmationModal">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="add-film-button-container">
        <a href="{% url 'films:create' %}" class="btn btn-primary btn-success">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add film
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation window</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete film?
                </div>
                <form method="post" id="delete-film-form">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).on('click', '.delete-film-button', function () {
                $('#delete-film-form').attr('action', $(this).attr('href'))
            }
        )
    </script>
{% endblock script %}
