textarea {
    resize: none;
}

.scrolling-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrolling-wrapper .card {
    display: inline-block;
}

.btn-circle {
    width: 20px;
    height: 20px;
    padding: 4px 0;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 0.95238;
}

.btn-corner {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.inside-horizontal-scrolling-wrapper {
    margin-right: 1rem;
}

.inside-horizontal-scrolling-wrapper:last-child {
    margin-right: 0;
}



.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}