{% extends "panel/base.html" %}
{% block title %}
    Create cinema
{% endblock title %}
{% block head %}
    <style>
        @media (max-width: 576px) {
            .input-group-prepend {
                display: none;
            }

            .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
        }

        .logo-image-container, .banner-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .preview-image {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px;
            width: 100%;
            margin-bottom: 7px;
        }

        .preview-logo-image {
            aspect-ratio: 1;
            max-width: 100%;
        }


        .preview-logo-image img {
            max-width: 25rem;
        }

        .preview-banner-image {
            aspect-ratio: 5/2;
            max-width: 100%;
        }

        .preview-cinema-image {
            width: 20rem;
            height: 4rem;
        }

        .cinema-form-buttons {
            display: flex;
        }

        .cinema-form-buttons button:last-child {
            margin-left: 0.5rem;
        }

        .cinema-form-buttons button:first-child {
            margin-left: auto;
        }

        @media (max-width: 576px) {
            .cinema-form-buttons button:first-child {
                margin-left: 0;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header p-2">
            Cinema
        </div>
        <div class="card-body p-2">
            <ul class="nav nav-tabs mb-2">
                <li class="nav-item ml-auto">
                    <a class="nav-link active" id="tab-en">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-uk">Українська</a>
                </li>
            </ul>
            <form action="{% url 'cinemas:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--General Information-->
                <h5 class="ml-2">General information</h5>
                <!--in English-->
                <div class="input-group mb-2 en">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-name-en-span">Cinema name in English</span>
                    </div>
                    {{ form.name_en }}
                </div>
                <div class="input-group mb-2 en">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="cinema-description-en-span">Cinema description in English</span>
                    </div>
                    {{ form.description_en }}
                </div>
                <div class="input-group mb-2 en">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="cinema-features-en-span">Cinema features in English</span>
                    </div>
                    {{ form.features_en }}
                </div>
                <!--in Ukrainian-->
                <div class="input-group mb-2 uk">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-name-uk-span">Cinema name in Ukrainian</span>
                    </div>
                    {{ form.name_uk }}
                </div>
                <div class="input-group mb-2 uk">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="cinema-description-uk-span">Cinema description in Ukrainian</span>
                    </div>
                    {{ form.description_uk }}
                </div>
                <div class="input-group mb-2 uk">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="cinema-features-uk-span">Cinema features in Ukrainian</span>
                    </div>
                    {{ form.features_uk }}
                </div>
                <!--Logo-->
                <h5 class="ml-2 mt-3">Logo</h5>
                <div class="logo-image-container">
                    <div class="card border">
                        <div class="card-body p-2">
                            <div class="preview-image preview-logo-image skeleton">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="{{ form.logo.auto_id }}">
                                        Choose file
                                    </label>
                                    {{ form.logo }}
                                </div>
                                <button class="btn btn-info ml-2" id="reset-logo-button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Upper banner-->
                <h5 class="ml-2 mt-2">Banner</h5>
                <div class="banner-image-container">
                    <div class="card border">
                        <div class="card-body p-2">
                            <div class="preview-image preview-banner-image skeleton">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="{{ form.upper_banner.auto_id }}">
                                        Choose file
                                    </label>
                                    {{ form.upper_banner }}
                                </div>
                                <button class="btn btn-info ml-2" id="reset-banner-button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Image Gallery-->
                <h5 class="ml-2 mt-2">Image gallery</h5>
                <p class="ml-2 mb-0">Size: 1000 × 190</p>
                <div class="scrolling-wrapper">
                    <div class="mt-3">
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div class="card border inside-horizontal-scrolling-wrapper">
                                <div class="card-body p-2">
                                    <div class="preview-image preview-cinema-image skeleton"></div>
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <label class="custom-file-label">Choose file</label>
                                            {{ form.image }}
                                        </div>
                                    </div>
                                </div>
                                <div style="display: none">
                                    {{ form.DELETE }}
                                </div>
                                <button type="button"
                                        class="btn btn-sm btn-primary btn-danger btn-circle btn-corner delete-cinema-image-button">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="cinema-form-buttons">
                    <button type="button"
                            class="btn btn-primary btn-info"
                            id="add-cinema-image-button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add form
                    </button>
                </div>
                <!--SEO Block-->
                <h5 class="ml-2 mt-3">SEO Block</h5>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-seo-url-span">URL</span>
                    </div>
                    {{ form.seo_url }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-seo-title-span">Title</span>
                    </div>
                    {{ form.seo_title }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-seo-keywords-span">Keywords</span>
                    </div>
                    {{ form.seo_keywords }}
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="cinema-seo-description-span">Description</span>
                    </div>
                    {{ form.seo_description }}
                </div>
                <div class="cinema-form-buttons">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-info" id="reset-form-button">
                        <i class="fa fa fa-minus" aria-hidden="true"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        const $wrappers = $('.scrolling-wrapper');
        const $emptyCinemaImageForm = $wrappers.eq(0).find('.mt-3 .card:last-child').clone(true);

        $wrappers.each(function () {
            let isDown = false;
            let startX;
            let startY;
            let scrollLeft;
            let scrollTop;

            $(this).on('mousedown', function (e) {
                isDown = true;
                startX = e.pageX;
                startY = e.pageY;
                scrollLeft = $(this).scrollLeft();
                scrollTop = $(this).scrollTop();
                $(this).css('cursor', 'grabbing');
            });

            $(this).on('mouseleave mouseup', function () {
                isDown = false;
                $(this).css('cursor', 'grab');
            })

            const $wrapper = this;

            $(document).on('mousemove', function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $wrapper.offsetLeft;
                const y = e.pageY - $wrapper.offsetTop;
                const walkX = x - startX;
                const walkY = y - startY;
                $wrapper.scrollLeft = scrollLeft - walkX;
                $wrapper.scrollTop = scrollTop - walkY;
            });
        })


        $('.uk').hide();

        $('.card-body .nav-link').click(function () {
            const clickedTabId = $(this).attr('id');

            $('.card-body .nav-link').removeClass('active');
            $(this).addClass('active');

            if (clickedTabId === 'tab-en') {
                $('.uk').hide();
                $('.en').show();
            } else {
                $('.uk').show();
                $('.en').hide();
            }
        });

        $("input[type='text'], input[type='url'], textarea").each(function () {
            $(this).attr('data-initial', $(this).val());
        });

        $("#reset-form-button").click(function (e) {
            e.preventDefault();

            $("input[type='text'], input[type='url'], textarea").each(function () {
                const initial = $(this).attr('data-initial');
                $(this).val(initial);
            });
        })

        $(document).on('change', 'input:file', function (e) {
            $(this).prev().html($(this).val().split('\\').pop());

            const image = e.target.files[0];
            const src = URL.createObjectURL(image);

            const $cardBody = $(this).closest('.card-body');

            const $preview = $cardBody.find('.preview-image');

            $preview.children().remove();

            $preview.removeClass('skeleton');

            const $image = $(`<img src=${src} alt="image">`);

            $image.attr("class", "preview-image");

            $preview.append($image);
        });

        $("#reset-logo-button, #reset-banner-button").click(function (e) {
            e.preventDefault();

            const $cardBody = $(this).closest('.card-body');
            const $preview = $cardBody.find('.preview-image');
            const $fileInput = $cardBody.find('input:file');

            $fileInput.val(null);
            $fileInput.siblings('.custom-file-label').text("Choose file");

            $preview.children().remove();
            $preview.addClass('skeleton');
        })

        $('#add-cinema-image-button').click(function () {
            const $totalForms = $('#id_cinemaimage_set-TOTAL_FORMS');
            const count = parseInt($totalForms.val());

            const $cinemaImageFormMarkup = $emptyCinemaImageForm.prop('outerHTML');
            const regex = /cinemaimage_set-(\d+)-/g;
            const $compiledCinemaImageForm = $cinemaImageFormMarkup.replace(regex, `cinemaimage_set-${count}-`);

            $wrappers.eq(0).find('.mt-3').append($compiledCinemaImageForm);

            $totalForms.attr('value', count + 1);

            $wrappers.eq(0).animate({
                scrollLeft: $wrappers.eq(0).prop('scrollWidth')
            }, 500);
        });

        $(document).on('click', '.delete-cinema-image-button', function () {
            const $card = $(this).closest('.card');
            $card.find('input[type="checkbox"]').prop('checked', true);
            $card.hide();
        })
    </script>
{% endblock script %}
