{% extends "panel/base.html" %}
{% block title %}
    Banners
{% endblock %}
{% block head %}
    {% load cloudinary %}
    <style>
        .top-banner-rotation-speed {
            margin: 0 1rem 0 0.25rem;
        }

        .top-banner-save-button {
            margin: 0 0.5rem 0 0.25rem;
        }

        @media (min-width: 576px) {
            .top-banner-rotation-speed,
            .top-banner-save-button {
                margin-left: auto;
            }
        }

        .banner-card {
            width: 20rem;
            position: relative;
        }

        .preview-banner {
            height: 4rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px;
            margin-bottom: 7px;
        }

        .banner-image {
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header p-2">
            Top banner
        </div>
        <div class="card-body p-2">
            <form method="post">
                {% with top_banner_settings_form as settings %}
                    <div class="form-group d-flex flex-row align-items-center mb-0">
                    <div class="d-sm-block d-none">
                        Size: 1000 × 190
                    </div>
                    <div class="top-banner-rotation-speed">
                        {{ settings.banner_rotation }}
                        <label for="id_banner_rotation" class="font-weight-normal ml-1">Rotation</label>
                    </div>
                    <div class="custom-control custom-switch">
                        {{ settings.are_banners_active }}
                        <label class="custom-control-label form-check-label" for="id_are_banners_active"> Enabled /
                            Disabled</label>
                    </div>
                {% endwith %}
                </div>
                {% with top_banner_formset as formset %}
                    {{ formset.management_form }}
                    <div class="scrolling-wrapper">
                        <div class="mt-3">
                            {% for form in formset %}
                                <div class="card border mx-1 banner-card">
                                    <div class="card-body p-2">
                                        {% if form.image.value is None %}
                                            <div class="skeleton rounded mb-2 preview-banner"></div>
                                        {% else %}
                                            <div class="preview-banner">
                                                {% cloudinary form.image.value class="banner-image" %}
                                            </div>
                                        {% endif %}
                                        <div class="input-group mb-2">
                                            <div class="custom-file">
                                                <label class="custom-file-label"
                                                       for="{{ form.image.auto_id }}">
                                                    Choose image
                                                </label>
                                                {{ form.image }}
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">URL</span>
                                            </div>
                                            {{ form.url }}
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            {{ form.description }}
                                        </div>
                                        <button type="button"
                                                class=" btn btn-sm btn-primary btn-danger btn-circle btn-corner">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
                <div class="d-flex flex-row">
                    <button type="submit"
                            class="btn btn-primary btn-success top-banner-save-button">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-info">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add form
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            const $wrappers = $('.scrolling-wrapper');

            $wrappers.each(function () {
                let isDown = false;
                let startX;
                let startY;
                let scrollLeft;
                let scrollTop;

                $(this).on('mousedown', function (e) {
                    isDown = true;
                    startX = e.pageX;
                    startY = e.pageY;
                    scrollLeft = $(this).scrollLeft();
                    scrollTop = $(this).scrollTop();
                    $(this).css('cursor', 'grabbing');
                });

                $(this).on('mouseleave mouseup', function () {
                    isDown = false;
                    $(this).css('cursor', 'grab');
                })

                const $wrapper = this;

                $(document).on('mousemove', function (e) {
                    if (!isDown) return;
                    e.preventDefault();
                    const x = e.pageX - $wrapper.offsetLeft;
                    const y = e.pageY - $wrapper.offsetTop;
                    const walkX = x - startX;
                    const walkY = y - startY;
                    $wrapper.scrollLeft = scrollLeft - walkX;
                    $wrapper.scrollTop = scrollTop - walkY;
                });
            })

            $('input:file').change(function (e) {
                $(this).prev().html($(this).val().split('\\').pop());

                const image = e.target.files[0];
                const src = URL.createObjectURL(image);

                const $cardBody = $(this).closest('.card-body');

                const $previewBanners = $cardBody.find('.preview-banner');
                $previewBanners.remove();

                const $previewBanner = $('<div class="preview-banner">');
                $cardBody.prepend($previewBanner);

                const $image = $(`<img class="rounded banner-image" src=${src} alt="banner">`);
                $previewBanner.append($image);
            })

        });
    </script>
{% endblock %}