{% extends "panel/base.html" %}
{% block title %}
    Banners
{% endblock %}
{% block head %}
    {% load cloudinary %}
    <style>
        .banner-rotation-speed {
            margin: 0 1rem 0 0.25rem;
        }

        .banner-save-button {
            margin: 0 0.5rem 0 0.25rem;
        }

        @media (min-width: 576px) {
            .banner-rotation-speed,
            .banner-save-button,
            .background-save-button,
            .background-ratio {
                margin-left: auto;
            }
        }

        .banner-card {
            width: 20rem;
            position: relative;
        }

        .preview-banner,
        .preview-background {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 5px;
            margin-bottom: 7px;
        }

        .preview-banner {
            height: 4rem;
        }

        .preview-background {
            min-height: 20rem;
        }

        .banner-image {
            width: 100%
        }

        .background-image {
            width: 100%;
            height: auto;
        }

        span.radio:not(:first-child) {
            margin-left: 1rem;
        }

        span.radio {
            margin-right: 0.5rem;
        }

    </style>
{% endblock %}
{% block content %}
    <!--Top banner settings-->
    <div class="card">
        <div class="card-header p-2">
            Top banner
        </div>
        <div class="card-body p-2">
            <form action="{% url 'banners:top-banners' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% with top_banner_settings_form as settings %}
                    <div class="form-group d-flex flex-row align-items-center mb-0">
                        <div class="d-sm-block d-none">
                            Size: 1000 × 190
                        </div>
                        <div class="banner-rotation-speed">
                            {{ settings.banner_rotation }}
                            <label for="id_banner_rotation" class="font-weight-normal ml-1">Rotation</label>
                        </div>
                        <div class="custom-control custom-switch">
                            {{ settings.are_banners_active }}
                            <label class="custom-control-label form-check-label"
                                   for="id_top_banner_settings-are_banners_active">
                                Enabled / Disabled
                            </label>
                        </div>
                    </div>
                {% endwith %}
                {% with top_banner_formset as formset %}
                    <div class="scrolling-wrapper">
                        <div class="mt-3">
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="card border mx-2 banner-card">
                                    {{ form.id }}
                                    <div class="card-body p-2">
                                        {% if form.image.value is None %}
                                            <div class="skeleton rounded mb-2 preview-banner"></div>
                                        {% else %}
                                            <div class="preview-banner">
                                                {% cloudinary form.image.value class="banner-image" %}
                                            </div>
                                        {% endif %}
                                        <div class="input-group mb-2">
                                            <div class="custom-file">
                                                <label class="custom-file-label"
                                                       for="{{ form.image.auto_id }}">
                                                    Choose image
                                                </label>
                                                {{ form.image }}
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">URL</span>
                                            </div>
                                            {{ form.url }}
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            {{ form.description }}
                                        </div>
                                        <div style="display: none">
                                            {{ form.DELETE }}
                                        </div>
                                        <button type="button"
                                                class="btn btn-sm btn-primary btn-danger btn-circle btn-corner delete-top-banner-button">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
                <div class="d-flex flex-row">
                    <button type="submit"
                            class="btn btn-primary btn-success banner-save-button">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-info add-top-banner-button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add form
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--Background settings-->
    <div class="card">
        <div class="card-header p-2">
            Background image
        </div>
        <div class="p-2">
            <form action="{% url 'banners:background-settings' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% with banner_settings_form as settings %}
                    <div class="form-group d-flex flex-row align-items-center mb-0">
                        <div class="d-sm-block d-none">
                            Size: 2000 × 3000
                        </div>
                        <div class="background-ratio mr-0 d-flex align-items-center">
                            {% for radio in settings.is_background_image %}
                                <span class="radio">{{ radio.tag }}</span>
                                <span>{{ radio.choice_label }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body p-0 mt-2">
                        {% if settings.background_image.value is None %}
                            <div class="skeleton rounded mb-2 preview-background"></div>
                        {% else %}
                            <div class="preview-background">
                                {% cloudinary settings.background_image.value class="background-image" %}
                            </div>
                        {% endif %}
                        <div class="input-group mb-2">
                            <div class="custom-file">
                                <label class="custom-file-label"
                                       for="{{ settings.background_image.auto_id }}">
                                    Choose image
                                </label>
                                {{ settings.background_image }}
                            </div>
                        </div>
                    </div>
                {% endwith %}
                <div class="d-flex flex-row">
                    <button type="submit"
                            class="btn btn-primary btn-success background-save-button">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--Advertisement banner settings-->
    <div class="card">
        <div class="card-header p-2">
            Advertisement banner
        </div>
        <div class="card-body p-2">
            <form action="{% url 'banners:advertisement-banners' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% with advertisement_banner_settings_form as settings %}
                    <div class="form-group d-flex flex-row align-items-center mb-0">
                        <div class="d-sm-block d-none">
                            Size: 1000 × 190
                        </div>
                        <div class="banner-rotation-speed">
                            {{ settings.advertisement_rotation }}
                            <label for="id_banner_rotation" class="font-weight-normal ml-1">Rotation</label>
                        </div>
                        <div class="custom-control custom-switch">
                            {{ settings.are_advertisements_active }}
                            <label class="custom-control-label form-check-label"
                                   for="id_advertisement_banner_settings-are_advertisements_active">
                                Enabled / Disabled
                            </label>
                        </div>
                    </div>
                {% endwith %}
                {% with advertisement_banner_formset as formset %}
                    <div class="scrolling-wrapper">
                        <div class="mt-3">
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="card border mx-2 banner-card">
                                    {{ form.id }}
                                    <div class="card-body p-2">
                                        {% if form.image.value is None %}
                                            <div class="skeleton rounded mb-2 preview-banner"></div>
                                        {% else %}
                                            <div class="preview-banner">
                                                {% cloudinary form.image.value class="banner-image" %}
                                            </div>
                                        {% endif %}
                                        <div class="input-group mb-2">
                                            <div class="custom-file">
                                                <label class="custom-file-label"
                                                       for="{{ form.image.auto_id }}">
                                                    Choose image
                                                </label>
                                                {{ form.image }}
                                            </div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">URL</span>
                                            </div>
                                            {{ form.url }}
                                        </div>
                                        <div style="display: none">
                                            {{ form.DELETE }}
                                        </div>
                                        <button type="button"
                                                class="btn btn-sm btn-primary btn-danger btn-circle btn-corner delete-advertisement-banner-button">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
                <div class="d-flex flex-row">
                    <button type="submit"
                            class="btn btn-primary btn-success banner-save-button">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Save
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-info add-advertisement-banner-button">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        Add form
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const $wrappers = $('.scrolling-wrapper');
        const $emptyTopBannerForm = $wrappers.eq(0).find('.mt-3 .card:last-child').clone(true);
        const $emptyAdvertisementBannerForm = $wrappers.eq(1).find('.mt-3 .card:last-child').clone(true);

        $wrappers.each(function () {
            let isDown = false;
            let startX;
            let startY;
            let scrollLeft;
            let scrollTop;

            $(this).on('mousedown', function (e) {
                isDown = true;
                startX = e.pageX;
                startY = e.pageY;
                scrollLeft = $(this).scrollLeft();
                scrollTop = $(this).scrollTop();
                $(this).css('cursor', 'grabbing');
            });

            $(this).on('mouseleave mouseup', function () {
                isDown = false;
                $(this).css('cursor', 'grab');
            })

            const $wrapper = this;

            $(document).on('mousemove', function (e) {
                if (!isDown) return;
                e.preventDefault();
                const x = e.pageX - $wrapper.offsetLeft;
                const y = e.pageY - $wrapper.offsetTop;
                const walkX = x - startX;
                const walkY = y - startY;
                $wrapper.scrollLeft = scrollLeft - walkX;
                $wrapper.scrollTop = scrollTop - walkY;
            });
        })

        $(document).on('click', '.delete-top-banner-button', function () {
            const $card = $(this).closest('.card');
            $card.find('input[type="checkbox"]').prop('checked', true);
            $card.hide();
        });

        $(document).on('click', '.add-top-banner-button', function () {
            const $totalForms = $('#id_top_banners-TOTAL_FORMS');

            const count = parseInt($totalForms.val());

            const $bannerFormMarkup = $emptyTopBannerForm.prop('outerHTML');
            const regex = /top_banners-(\d+)-/g;
            const $compiledBannerForm = $bannerFormMarkup.replace(regex, `top_banners-${count}-`);

            $wrappers.eq(0).find('.mt-3').append($compiledBannerForm);

            $totalForms.attr('value', count + 1);

            $wrappers.first().animate({
                scrollLeft: $wrappers.eq(0).prop('scrollWidth')
            }, 500);
        });

        $(document).on('click', '.delete-advertisement-banner-button', function () {
            const $card = $(this).closest('.card');
            $card.find('input[type="checkbox"]').prop('checked', true);
            $card.hide();
        });

        $(document).on('click', '.add-advertisement-banner-button', function () {
            const $totalForms = $('#id_advertisement_banners-TOTAL_FORMS');
            const count = parseInt($totalForms.val());

            const $bannerFormMarkup = $emptyAdvertisementBannerForm.prop('outerHTML');
            const regex = /advertisement_banners-(\d+)-/g;
            const $compiledBannerForm = $bannerFormMarkup.replace(regex, `advertisement_banners-${count}-`);

            $wrappers.eq(1).find('.mt-3').append($compiledBannerForm);

            $totalForms.attr('value', count + 1);

            $wrappers.eq(1).animate({
                scrollLeft: $wrappers.eq(1).prop('scrollWidth')
            }, 500);
        });

        $(document).on('change', 'input:file', function (e) {
            $(this).prev().html($(this).val().split('\\').pop());

            const image = e.target.files[0];
            const src = URL.createObjectURL(image);

            const $cardBody = $(this).closest('.card-body');

            const $preview = $cardBody.find('.preview-banner, .preview-background');

            const className = $($preview).hasClass("preview-banner") ? "preview-banner" : "preview-background";

            $preview.remove();

            const $previewContainer = $(`<div class=${className}>`);
            $cardBody.prepend($previewContainer);

            const $image = $(`<img class="rounded w-100" src=${src} alt="banner">`);
            $previewContainer.append($image);
        });
    </script>
{% endblock %}