{% extends "panel/base.html" %}
{% block title %}
    Banners
{% endblock %}
{% block style %}
    <style>
        .top-banner-rotation-speed {
            margin: 0 1rem 0 0.25rem;
        }

        .top-banner-save-button {
            margin: 0 0.5rem 0 0.25rem;
        }

        @media (min-width: 576px) {
            .top-banner-rotation-speed,
            .top-banner-save-button {
                margin-left: auto;
            }
        }

        .preview-banner {
            height: 2rem;
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header p-2">
            Top banner
        </div>
        <div class="card-body p-2">
            <div class="d-flex flex-row align-items-center">
                <div class="d-sm-block d-none">
                    Size: 1000 × 190
                </div>
                <div class="top-banner-rotation-speed">
                    <select class="custom-select w-auto" id="top-banner-select">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                    </select>
                    <label for="top-banner-select" class="font-weight-normal ml-1">Rotation</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="top-banner-switch">
                    <label class="custom-control-label form-check-label" for="top-banner-switch"> Enabled /
                        Disabled</label>
                </div>
            </div>
            <div class="scrolling-wrapper">
                <div class="mt-3">
                    {% for i in '0123456789'|make_list %}
                        <div class="card border mx-1" style="width: 20rem; position: relative">
                            <div class="card-body p-2">
                                <div class="skeleton rounded mb-2 preview-banner"></div>
                                <div class="input-group mb-2">
                                    <div class="custom-file">
                                        <label class="custom-file-label" for="top-banner-image">Choose image</label>
                                        <input type="file" class="custom-file-input" id="top-banner-image"
                                               accept="image/*"/>
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">URL</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Enter URL"
                                           placeholder="Enter URL"/>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    <textarea class="form-control"
                                              aria-label="Enter description"
                                              placeholder="Enter description"></textarea>
                                </div>
                                <button type="button"
                                        class=" btn btn-sm btn-primary btn-danger btn-circle btn-corner">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex flex-row">
                <button id="submit-button"
                        type="submit"
                        class="btn btn-primary btn-success top-banner-save-button">
                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                    Save
                </button>
                <button id="submit-button"
                        type="submit"
                        class="btn btn-primary btn-info">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Add form
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            const $wrappers = $('.scrolling-wrapper');

            $wrappers.each(function () {
                let isDown = false;
                let startX;
                let startY;
                let scrollLeft;
                let scrollTop;

                $(this).on('mousedown', function (e) {
                    isDown = true;
                    startX = e.pageX;
                    startY = e.pageY;
                    scrollLeft = $(this).scrollLeft();
                    scrollTop = $(this).scrollTop();
                    $(this).css('cursor', 'grabbing');
                });

                $(this).on('mouseleave mouseup', function () {
                    isDown = false;
                    $(this).css('cursor', 'grab');
                })

                const $wrapper = this;

                $(document).on('mousemove', function (e) {
                    if (!isDown) return;
                    e.preventDefault();
                    const x = e.pageX - $wrapper.offsetLeft;
                    const y = e.pageY - $wrapper.offsetTop;
                    const walkX = x - startX;
                    const walkY = y - startY;
                    $wrapper.scrollLeft = scrollLeft - walkX;
                    $wrapper.scrollTop = scrollTop - walkY;
                });
            })

            $('input:file').change(function (e) {
                const image = e.target.files[0];
                const src = URL.createObjectURL(image);

                const $cardBody = $(this).closest('.card-body');
                // remove previous image
                const $previewImages = $cardBody.find('.preview-banner');
                $previewImages.remove();

                const $image = $(`<img class="rounded mb-2 preview-banner" src=${src} alt="banner">`);

                $cardBody.prepend($image);
            })
        });
    </script>
{% endblock %}